@{  
    ViewData["Title"] = "Annonce";
    Announcement annonce = ViewBag.annonce;
}

<div class="page-section pt-5">
    <div class="container">
      <nav aria-label="Breadcrumb">
        <ul class="breadcrumb p-0 mb-0 bg-transparent">
          <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Accueil</a></li>
          <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Annonce">Annonce</a></li>
          <li class="breadcrumb-item active">Details</li>
        </ul>
      </nav>
      
      <div class="row">
        <div class="col-lg-8">
          <div class="blog-single-wrap">
            <h1 class="post-title">@annonce.Besoin.Poste.Libelle</h1>
            <div class="post-meta mt-3 mb-5">
              <div class="post-date">
                <span class="icon">
                  <span class="mai-time-outline"></span>
                </span> <a href="#">@annonce.DateEnvoi.ToShortDateString()</a>
              </div>
              <div class="post-comment-count ml-2">
                <span class="icon">
                  <span class="mai-business-outline"></span>
                </span> <a href="#">@annonce.Entreprise.Nom</a>
              </div>
            </div>
            <div class="post-content">
              <p>@annonce.Besoin.Contrat.Libelle</p>
              <p>@annonce.Besoin.Poste.Libelle</p>
            </div>
            <div class="col-lg-6 py-3 wow fadeInUp">
              <span class="subhead">Profil</span>
              <div class="divider"></div>

              <p>
                @foreach (var item in annonce.ProfilMinimal)
                {
                  <span class="text-dark">@item.Critere.Libelle: </span> @item.Option.Libelle <br>
                }
              </p>
              <a href="@Url.Action("formulaireAjoutCv", "Cv", new {idbesoin = annonce.IdBesoin})" class="btn btn-primary mt-3">Postuler</a>
            </div>
          </div>

        </div>
        <div class="col-lg-4">
          <div class="widget">
            <!-- Widget search -->
            <div class="widget-box">
              <form action="#" class="search-widget">
                <input type="text" class="form-control" placeholder="Entrez un mot..">
                <button type="submit" class="btn btn-primary btn-block">Recherche</button>
              </form>
            </div>

            <!-- Widget Categories -->
            <div class="widget-box">
              <h4 class="widget-title">Type Contrat</h4>
              <div class="divider"></div>

              <ul class="categories">
                <li><a href="#">Duree indeterminee</a></li>
                <li><a href="#">Duree determinee</a></li>
                <li><a href="#">CDI interimaire</a></li>
                <li><a href="#">Duree determinee Senior</a></li>
                <li><a href="#">Travail a temps partiel</a></li>
              </ul>
            </div>

            <!-- Widget Tag Cloud -->
            <div class="widget-box">
              <h4 class="widget-title">Service</h4>
              <div class="divider"></div>

              <div class="tag-clouds">
                <a href="#" class="tag-cloud-link">RH</a>
                <a href="#" class="tag-cloud-link">Commercial</a>
                <a href="#" class="tag-cloud-link">Informatique</a>
                <a href="#" class="tag-cloud-link">Stock</a>
                <a href="#" class="tag-cloud-link">Autre</a>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>