@model Announcement[]

<!DOCTYPE html>
<html>
<head>
    <title>Liste des offres d'emploi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Liste des offres d'emploi</h1>
        <div class="row">
            @foreach (var offre in Model)
            {
                <div class="col-md-12 mb-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@offre.Besoin.Poste.Libelle</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@offre.Entreprise.Nom | @offre.Besoin.Contrat.Libelle</h6>
                            <p class="card-text">@offre.Besoin.Poste.Description</p>
                            <p class="card-text">Date de publication: @offre.DateEnvoi.ToShortDateString()</p>
                            <div class="card-body">
                                <h6 style="color: purple;">PROFIL</h6>
                                @foreach (var item in @offre.ProfilMinimal)
                                {
                                    <p class="card-text">- @item.Critere.Libelle : @item.Option.Libelle</p>
                                }
                            </div>
                            <a class="nav-link" style="color: purple;" asp-area="" asp-controller="CV" asp-action="Index">Liste des postulants</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>